<h1>{{title}}</h1>
<div class="cart-container">
  <h2>Cart</h2>
  {{> cart_table cart=order.cart complete="true"}}
  <h3>Subtotal: {{order.displaySubtotal}}</h3>
  {{#ifCond order.billing.price.discount '>' 0}}
    <h3>Discount: {{order.displayDiscount}}</h3>
  {{/ifCond}}
  <h3>Total: {{order.displayTotal}}</h3>
</div>
<div class="shipping-container">
  <h2>Shipping</h2>
  <h3>{{order.shipping.address.nickname}}</h3>
  <p>{{order.shipping.address.displayAddress}}</p>
</div>
<div class="billing-container">
  <h2>Billing</h2>
  <h3>{{order.billing.address.nickname}}</h3>
  <p>{{order.billing.address.displayAddress}}</p>
</div>
