<table class="ak-table">
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Subtotal</th>
    <th>Taxes</th>
    <th>Shipping</th>
    <th>Discounts</th>
    <th>Total</th>
    <th>Status</th>
    <th>Created</th>
    <th>Address</th>
    <th>Change Shipping</th>
    <th>Cancel/Request Return</th>
  </tr>
  {{#each orders}}
    <tr>
      <td><a href="/user/orders/{{this.id}}">{{this.id}}</a></td>
      <td>{{this.email}}</td>
      <td>{{this.displaySubtotal}}</td>
      <td>{{this.displayTaxes}}</td>
      <td>{{this.displayShipping}}</td>
      <td>{{this.displayDiscount}}</td>
      <td>{{this.displayTotal}}</td>
      <td>{{this.status}}</td>
      <td>{{fmt_date this.date_created}}</td>
      <td><a href="/user/addresses">{{this.shipping.address}}</a></td>
      <td><a href="/user/orders/{{this.id}}?change_shipping=1" {{#ifCond status '!=' 'paid'}}class="ak-disabled"{{/ifCond}}>Change Shipping</a></td>
      <td>
        {{#ifCond this.status '==' 'paid'}}
          <a href="/user/orders/{{this.id}}/cancel">Cancel Order</a>
        {{else}}
          <a href="/user/orders/{{this.id}}/return"
            {{#ifCond this.status '!=' 'shipped'}}{{#ifCond this.status '!=' 'delivered'}}{{#ifCond this.status '!=' 'expecting_return'}}class="ak-disabled"{{/ifCond}}{{/ifCond}}{{/ifCond}}
          >Request a Return</a>
        {{/ifCond}}
      </td>
    </tr>
  {{else}}
    <tr>
      <td><a href="/user/orders/{{id}}">{{id}}</a></td>
      <td>{{email}}</td>
      <td>{{displaySubtotal}}</td>
      <td>{{displayTaxes}}</td>
      <td>{{displayShipping}}</td>
      <td>{{displayDiscount}}</td>
      <td>{{displayTotal}}</td>
      <td>{{status}}</td>
      <td>{{fmt_date date_created}}</td>
      <td><a href="/user/addresses">{{this.shipping.address}}</a></td>
      <td><a href="/user/orders/{{id}}?change_shipping=1" {{#ifCond status '!=' 'paid'}}class="ak-disabled"{{/ifCond}}>Change Shipping</a></td>
      <td>
        {{#ifCond status '==' 'paid'}}
          <a href="/user/orders/{{id}}/cancel">Cancel Order</a>
        {{else}}
          <a href="/user/orders/{{id}}/return"
            {{#ifCond status '!=' 'shipped'}}{{#ifCond status '!=' 'delivered'}}{{#ifCond status '!=' 'expecting_return'}}class="ak-disabled"{{/ifCond}}{{/ifCond}}{{/ifCond}}
          >Request a Return</a>
        {{/ifCond}}
      </td>
    </tr>
  {{/each}}
</table>
