<tr>
  <td>{{id}}</td>
  <td>{{cart}}</td>
  <td>{{user}}</td>
  <td>{{displaySubtotal}}</td>
  <td>{{displayTaxes}}</td>
  <td>{{displayShipping}}</td>
  <td>{{displayDiscount}}</td>
  <td>{{displayTotal}}</td>
  <td>{{status}}</td>
  <td>{{date_created}}</td>
  <td>{{date_updated}}</td>
<tr>
